/*CENTRO DE LA PAGINA*/

section h1 {
    color:whitesmoke;
    margin-top:5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 5rem;
}

section h2 {
    color:whitesmoke;
    margin-top:2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

section p {
    text-align: center;
    color:#E6EBE8;
    margin: 0px 100px 0px 100px;
    margin-bottom: 2rem; /*1:11:01 ... 4x16px*/
}

div.box { /*contenedor de la imagen*/
    display:flex;
    justify-content: center;
}   

.imagenmain { /*valores de la imagen*/
    border: 1px solid #EE4837;
    width: 40%;
    margin-bottom: 2rem;
}


/*MEDIAQ*/
@media screen and (min-width: 320px) and (max-width: 374px) {
    .preheader ul li {
        margin-left: 1rem;
        margin-right: 0rem;
    }

    .headermoblogosavar img {
        width: 10rem;
        position: relative;
        left:0%;
    }

    footer {
        grid-template-columns: 1fr;
    }

    footer .footerlogosavar {
        width: 11rem;
        padding-bottom: 2rem;
        }

    footer nav.footercontactus {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .logowsp {
        position: fixed;
        right: 10px;
        bottom:25px;
        width:1.5rem;
    }

    .containertexto{
        order: 1;
    }

    .containerimagen{
        order: 2;
    }
}

