* {
  padding: 0;
  margin: 0;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
}

.preheader {
  padding: 0.5rem;
  background-color: #1A1A1A;
  align-items: center;
}
.preheader ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  margin-bottom: 0.3rem;
}
.preheader ul li {
  margin-left: 1rem;
  margin-right: 3rem;
}
.preheader ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 0.7rem;
  transition: 0.5s; /*Asociado a hover*/
}

.headermoblogosavar img {
  width: 10rem;
  position: relative;
  left: 30%;
}

.nav-link {
  margin: 1rem;
  transition: 0.5s; /*Asociado a hover*/
}

.carousel-inner {
  margin-bottom: 1rem;
}

.container-quienessomos {
  display: grid;
  margin: 1rem auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  border-radius: 1rem;
}
.container-quienessomos .containerimagen {
  grid-column: 2/3;
  grid-row: 1/4;
  margin: auto;
  width: 100%;
  text-align: center;
}
.container-quienessomos .containerimagen img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}
.container-quienessomos .containertexto {
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 0.5rem;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: #1A1A1A;
}
.container-quienessomos .containertextotwo {
  grid-column: 2/3;
  grid-row: 1/4;
  padding: 0.5rem;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: #1A1A1A;
}
.container-quienessomos .containerimagentwo {
  grid-column: 1/2;
  grid-row: 1/4;
  margin: auto;
  width: 100%;
  text-align: center;
}
.container-quienessomos .containerimagentwo img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}

.image-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.image-item {
  flex: 1;
  margin: 0 10px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

footer {
  background-color: whitesmoke;
  border-top: 1px solid rgb(222, 222, 222);
  /*grid area*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img nav";
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer .footerlogosavar {
  grid-area: img;
  width: 15rem;
  position: relative;
  left: 10rem;
}
footer nav {
  grid-area: nav;
  text-align: center; /*centra lista en footer*/
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li {
  margin: 10px;
}
footer nav ul li p {
  color: #1A1A1A;
  text-decoration: none;
  font-size: 0.7rem;
}
footer nav ul li p a {
  color: #1A1A1A;
  text-decoration: none;
  font-size: 0.7rem;
  transition: 0.5s; /*animacion asociada a hover*/
}

.postfooter {
  padding: 0.5rem;
  background-color: #1A1A1A;
  align-items: center;
}
.postfooter ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.postfooter ul li {
  margin-left: 1rem;
  margin-right: 3rem;
}
.postfooter ul li p {
  color: gray;
  text-decoration: none;
  font-size: 0.7rem;
  transition: 0.5s; /*Asociado a hover*/
}

.logowsp {
  position: fixed;
  right: 35px;
  bottom: 25px;
  width: 3rem;
}

/*PSEUDOCLASES*/
/*Anima link del preheader*/
.preheader a:hover {
  color: #FB8B22;
  text-decoration: underline;
}

.preheader a:active {
  color: whitesmoke;
}

/*Anima link del menu principal*/
.nav-item a:hover {
  color: #FB8B22;
  text-decoration: underline;
}

.nav-item a:active {
  color: whitesmoke;
}

/*Anima link del footer*/
footer nav ul li p a:hover {
  color: #FB8B22;
}

footer nav ul li p a:active {
  color: #1A1A1A;
}

/*Anima link en underconstruction*/
.underclink a:hover {
  color: #FB8B22;
}

.underclink a:active {
  color: #1A1A1A;
}

.underc {
  display: flex;
  justify-content: center;
}
.underc img {
  width: 20rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.underclink {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  font-size: 109px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logowsp {
    position: fixed;
    right: 10px;
    bottom: 25px;
    width: 2.5rem;
  }
  .headermoblogosavar img {
    width: 10rem;
    position: relative;
    left: 0%;
  }
  .container-quienessomos {
    display: flex;
    flex-direction: column;
  }
  .containertexto {
    order: 1;
  }
  .containerimagen {
    order: 2;
  }
  .containertextotwo {
    order: 1;
  }
  .containerimagentwo {
    order: 2;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .preheader ul li {
    margin-left: 1rem;
    margin-right: 0rem;
  }
  .headermoblogosavar img {
    width: 10rem;
    position: relative;
    left: 0%;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer .footerlogosavar {
    width: 15rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
  }
  footer nav.footercontactus {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .logowsp {
    position: fixed;
    right: 10px;
    bottom: 25px;
    width: 1.5rem;
  }
  .container-quienessomos {
    display: flex;
    flex-direction: column;
  }
  .containertexto {
    order: 1;
  }
  .containerimagen {
    order: 2;
  }
  .containertextotwo {
    order: 1;
  }
  .containerimagentwo {
    order: 2;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .preheader ul li {
    margin-left: 1rem;
    margin-right: 0rem;
  }
  .headermoblogosavar img {
    width: 10rem;
    position: relative;
    left: 0%;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer .footerlogosavar {
    width: 15rem;
    padding-bottom: 2rem;
  }
  footer nav.footercontactus {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .logowsp {
    position: fixed;
    right: 10px;
    bottom: 25px;
    width: 1.5rem;
  }
  .container-quienessomos {
    display: flex;
    flex-direction: column;
  }
  .containertexto {
    order: 1;
  }
  .containerimagen {
    order: 2;
  }
  .containertextotwo {
    order: 1;
  }
  .containerimagentwo {
    order: 2;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .preheader ul li {
    margin-left: 1rem;
    margin-right: 0rem;
  }
  .headermoblogosavar img {
    width: 10rem;
    position: relative;
    left: 0%;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer .footerlogosavar {
    width: 11rem;
    padding-bottom: 2rem;
  }
  footer nav.footercontactus {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .logowsp {
    position: fixed;
    right: 10px;
    bottom: 25px;
    width: 1.5rem;
  }
  .container-quienessomos {
    display: flex;
    flex-direction: column;
  }
  .containertexto {
    order: 1;
  }
  .containerimagen {
    order: 2;
  }
}
.button-link, .underclink a {
  color: #1A1A1A;
  text-decoration: none;
  font-size: 0.7rem;
  transition: 0.5s; /*animacion asociada a hover*/
}

.seccion-secundaria h6 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: blue;
  font-size: 20px;
  font-weight: 20px;
  text-decoration: none;
}
.seccion-secundaria h5 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #1A1A1A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
