@mixin titulo-galeria {
    display:flex;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
    color: $secundary-color;
    font-size: 2.5rem;
}

@mixin subtitulo-galeria {
    display:flex;
    justify-content: center;
    color: $secundary-color;
    font-size: 1rem;
}

@mixin texto-tarjeta-galeria ($color, $size, $grosor, $decoration) {
    color: $color;
    font-size: $size;
    font-weight: $grosor;
    text-decoration: $decoration;
}

.container-fluid { 
    h1 {
        @include titulo-galeria()
    }
    p {
        text-align:center;
        margin-top:2px;
        margin-bottom: 2rem;
        @include subtitulo-galeria() 
    }
}

.card p {
    display:flex;
    justify-content: center;
    margin-top:10px;
    text-align:center;
    @include texto-tarjeta-galeria($secundary-color, 1rem, 20px, none ) 
}