$primary-color: whitesmoke;
$secundary-color: #1A1A1A;
$third-color: gray; 
$fourth-color: white; //gradiente-fondo-general
$cards-text-color: #1A1A1A;
$cards-backg-color: rgb(224, 224, 224);
$cards-border-color: 1px solid rgb(200, 200, 200);
$footer-nav-text-color: #1A1A1A;
$undec-back-button: #1A1A1A;
$headerfooter-line: 1px solid rgb(222, 222, 222); //linea-separadora-header-footer