@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
        }

    footer .footerlogosavar {
        position: relative;
        left: 8rem;
    }
}

@media screen and (min-width: 1025px) {
    footer .footerlogosavar {
        position: relative;
        left: 13rem;
    }
}
