
@media screen and (min-width: 375px) and (max-width: 413px) {
    .preheader ul li {
        margin-left: 1rem;
        margin-right: 0rem;
    }

    .headermoblogosavar img {
        width: 10rem;
        position: relative;
        left:0%;
    }

    .container-quienessomos{
        display: flex;
        flex-direction: column;
    }

    .container-fluid { 
        h1 {
            font-size: 8vw;
        }
    }

    .containertexto {
        order: 1;
    }
    
    .containerimagen {
        order: 2;
    }

    .containertextotwo {
        order: 1;
    }
    
    .containerimagentwo {
        order: 2;
    }

    footer {
        grid-template-columns: 1fr;
        .footerlogosavar {
            position: relative;
            left: 4rem;
            width: 15rem;
            padding-bottom: 2rem;
        }
        nav.footercontactus {
            position: relative;
            right: 1rem;
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    .logowsp {
        position: fixed;
        right: 10px;
        bottom:25px;
        width:2.5rem;
    }
}
