@import '../layout/variable';


* {
    padding:0;
    margin:0;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    //background-color: $primary-color;//
    background-image: linear-gradient(to left, $fourth-color, $primary-color); //gradiente
    font-family: "Lato", sans-serif;
}